<p-card header="Productos">
  <button pButton type="button" label="Agregar Producto" icon="pi pi-plus" (click)="router.navigate(['/products/create'])"></button>

  <p-table [value]="products" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols" [pSortableColumn]="col.field" pReorderableColumn>
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th>Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product let-i="rowIndex">
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.stock }}</td>
        <td>
          <button pButton type="button" icon="pi pi-pencil" (click)="router.navigate(['/products/edit', product.id])"></button>
          <button pButton type="button" icon="pi pi-trash" class="p-button-danger" (click)="deleteProduct(product.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>